{% extends 'dondapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %}
	<h1>About Us</h1>
	<div class="about-text">
		<p>This website was designed to make it easier for students to search for deals.
		Our idea was to allow users to sign up to our webiste and be able to view or post
		deals.</p>
		<p>Users are able to either search for the type of deal they are looking for using the search bar
		or by using the category filters.</p>
		<p>We also implemented a feature on the homepage to allow users to view the 'best', 'top' and
		'new' deals on the website.</p>
	</div>
{% endblock %}