{% extends 'dondapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %}
	<div class="container-fluid">
		<div class="about-text">
			<h1>About Us</h1>
			<div>
				<p>Our goal was to create a website which makes it easier for students to search for deals.</p>
				<p>Our idea was to allow users to sign up to our webiste and be able to view or post
				deals.</p>
				<p>Users are able to search for deals in three ways;</p>
				<p>The first, is using the home page. The home page comes equipped with a filter strip which allows users
				to either search for deals which have been uploaded recently using the 'new' filter, or search for the most
				popular deals using the 'top' filter.</p>
				<p>The second way to search for deals, is to go onto our category page where each deal is put into categories.
				Again, using our handy filter strip, users can easily find deals they are looking for.</p>
				<p>Lastly, users can use our search bar. Searching for keywords will return the most relevant deals that a user maybe looking for.</p>
			</div>
		</div>
	</div>
{% endblock %}