<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/static/css/dond1.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<title>
			Deal or No Deal -
			{% block title_block %}
			{% endblock %}
		</title>

    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">Student Deals</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li id="nav_category" class="nav-item">
                    <a class="nav-link" href="{% url 'category' %}">Category</a>
                </li>
                <li id="nav_about" class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                {% comment %}<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>{% endcomment %}
            </ul>

            <div class="search-container">
                <form action="{% url 'search' %}" method="get">
                    <input type="text" placeholder="Search..." name="query">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" onclick="logout()">Logout</button>
                    </div>
                </div>
            {% else %}
                <button onclick="open_login()" class="btn btn-light">Login</button>
                <button onclick="open_register()" class="btn btn-light">Register</button>
            {% endif %}
        </div>
    </nav>

    {% comment %}<nav>
        <ul class="nav-strip-bar">
            <li><a href="{% url 'home' %}" class="active" id="home-link">STUDENT DEALS</a></li>
            <li id="other"><a href="{% url 'category' %}">Category</a></li>
            <li id="other"><a href="{% url 'about' %}">About</a></li>
            <li style="float:right">
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown button
                        </a>
                        <div class="dropdown-menu" style="position: relative" role="menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
{#                    <button onclick="{% url 'logout' %}" class="login-button">Logout</button>#}
                {% else %}
                    <button onclick="open_login()" class="login-button">Login</button>
                {% endif %}
            </li>
            <div class="search-container">
                <form action="/action_page.php">
                    <li><input type="text" placeholder="Search..." name="search"></li>
                    <li><button type="submit"><i class="fa fa-search"></i></button></li>
                </form>
            </div>
        </ul>
    </nav>{% endcomment %}
    <div>
        {% block body_block %}
        {% endblock %}
    </div>

    <div id="login-model" class="model">
        <form class="model-content" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="container">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember Me
                </label>
            </div>

            <div class="container" style="background-color:#3e4042">
                <button type="button" class="cancelbtn" style="background-color:#ff3a3a; width:8em"onclick="close_login()">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>

    <div id="register-model" class="model">
        <form id="register-form" class="model-content" action="{% url 'user' %}" method="post">
            {% csrf_token %}
            <div class="container">
                <label for="username"><b>Username</b></label>
                <input id="register-username" class="form-text-input" type="text" placeholder="Enter Username" name="username" required>

                <label for="password"><b>Password</b></label>
                <input class="form-text-input" type="password" placeholder="Enter Password" name="password" required>

                <label for="first_name"><b>First Name</b></label>
                <input class="form-text-input" type="text" placeholder="First Name" name="first_name" required>

                <label for="last_name"><b>Last Name</b></label>
                <input class="form-text-input" type="text" placeholder="Last Name" name="last_name" required>

                <label for="email"><b>Email</b></label>
                <input class="form-text-input" type="email" placeholder="Email" name="email" required>

                <button type="button" onclick="register()">Register</button>
            </div>

            <div class="container" style="background-color:#3e4042">
                <button type="button" class="cancelbtn" style="background-color:#ff3a3a; width:8em" onclick="close_register()">Cancel</button>
            </div>
            <div id="register-alert" class="alert alert-danger" role="alert">

            </div>
        </form>
    </div>

    <script type="application/javascript">
        function open_login() {
            var model = document.getElementById("login-model");
            model.style.zIndex = "1";
            model.style.opacity = "1";
        }

        function close_login() {
            var model = document.getElementById("login-model");
            model.style.zIndex = "-999";
            model.style.opacity = "0";
        }

        function open_register() {
            var model = document.getElementById("register-model");
            model.style.zIndex = "1";
            model.style.opacity = "1";
        }

        function close_register() {
            var model = document.getElementById("register-model");
            model.style.zIndex = "-999";
            model.style.opacity = "0";
        }

        function logout() {
            $.ajax({
                url: {% url 'login' %},
                method: 'DELETE'
            }).always(function () {
                location.reload(true)
            })
        }

        function register() {
            var form = $('#register-form');
            $.ajax({
                url: {% url 'user' %},
                method: 'GET',
                data: 'username=' + encodeURIComponent($('#register-username').val())
            }).fail(function () {
                form.submit();
            }).done(function () {
                var alert = $('#register-alert');
                alert.html('Username is taken');
                alert.alert();
            });
            return false;
        }

        $(document).ready(function () {
            var loc = $(location).attr('pathname').split('/')[1];
            $('#nav_' + loc).addClass('active');
            {% comment %}$('#request-form').submit(function (e) {
                e.preventDefault();
                console.log("Interceptted");
                var form = this;
                $.ajax({
                    url: {% url 'user' %},
                    method: 'GET',
                    data: 'username=' + encodeURIComponent($('#register-username').val())
                }).fail(function () {
                    form.submit();
                }).done(function () {
                    var alert = $('#register-alert');
                    alert.html('Username is taken');
                    alert.alert();
                });
                return false;
            });{% endcomment %}
        });

        //This setup is needed to let Django accept AJAX requests from this page by setting up the CSRF token correctly
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
    </script>
	</body>
</html>