<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/static/css/dond1.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>
			Deal or No Deal -
			{% block title_block %}
			{% endblock %}
		</title>

    </head>
    <body>
    <nav>
        <ul class="nav-strip-bar">
            <li><a href="{% url 'home' %}" class="active" id="home-link">STUDENT DEALS</a></li>
            <li id="other"><a href="{% url 'category' %}">Category</a></li>
            <li id="other"><a href="{% url 'about' %}">About</a></li>
            <li style="float:right"><button onclick="open_login()" class="login-button">Login</button></li>
            <div class="search-container">
                <form action="/action_page.php">
                    <li><input type="text" placeholder="Search..." name="search"></li>
                    <li><button type="submit"><i class="fa fa-search"></i></button></li>
                </form>
            </div>
        </ul>
    </nav>
    <div>
        {% block body_block %}
        {% endblock %}
    </div>

    <div id="login-model" class="model">
    <form class="model-content">
        <div class="container">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember Me
            </label>
        </div>

        <div class="container" style="background-color:#3e4042">
            <button type="button" class="cancelbtn" style="background-color:#ff3a3a; width:8em"onclick="close_login()">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
    </div>

    <script type="application/javascript">
        function open_login() {
            var model = document.getElementById("login-model");
            model.style.zIndex = "1";
            model.style.opacity = "1";
        }

        function close_login() {
            var model = document.getElementById("login-model");
            model.style.zIndex = "-999";
            model.style.opacity = "0";
        }
    </script>
	</body>
</html>