{% extends 'dondapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
{{ deal.title }}
{% endblock %}

{% block body_block %}
    <div class="container border rounded" style="background: white; padding: 1em">
        <div class="row border-bottom">
            <div class="col-sm-1">
                <div class="row align-items-center">
                    <p id="upvote_count" style="float: none; margin: 0 auto">{{ deal.upvotes }}</p>
                </div>
                <div class="row">
                    <button onclick="send_vote({{ deal.id }}, true)" style="float: none; margin: 0 auto" class="vote_buttons btn btn-light up_vote"><i class="fas fa-chevron-up"></i></button>
                </div>
                <div class="row">
                    <button onclick="send_vote({{ deal.id }}, false)" style="float: none; margin: 0 auto" class="vote_buttons btn btn-light down_vote"><i class="fas fa-chevron-down"></i></button>
                </div>
                <div class="row aligm-items-center">
                    <p id="downvote_count" style="float: none; margin: 0 auto">{{ deal.downvotes }}</p>
                </div>
            </div>
            <div class="col deal_image">
                <img style="max-width: 7em; height: auto" src="{{ deal.image_path }}" alt="Deal image">
            </div>
            <div class="col">
                <div class="row">
                    <h5>{{ deal.title }}</h5>
                </div>
                <div class="row justify-content-end align-items-end deal_price">
                    <p>£{{ deal.price }}</p>
                </div>
                {% if deal.url != '' %}
                <div class="row">
                    <a href="{{ deal.url }}">Get Deal</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row border-bottom">
            <p><strong>By {{ deal.user_id }}</strong> {{ deal.creation_date }}</p>
        </div>
        <div class="row">
            <p>{{ deal.description }}</p>
        </div>
        <div class="row">
            <div class="addthis_inline_share_toolbox"></div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <h5>Comments</h5>
            </div>
            <div class="col justify-content-end items-align-end">
                <button onclick="open_comment()" style="float: right" class="btn btn-light"><i class="fas fa-edit"></i></button>
            </div>
        </div>
        {% for comment in comments %}
            <div class="row border-top" style="padding: 0.5em">
                <div class="col-sm-1">
                    <img src="{% static 'no-img.png' %}" style="max-width: 100%" alt="Avatar">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-md" style="padding: 0">
                        <p><strong>{{ comment.user_id }}</strong> {{ comment.creation_date }}</p>
                        </div>
                        {% if user.username == comment.user_id.username or user.is_superuser %}
                        <div class="col-sm-2 items-align-end">
                            <button onclick="deleteComment({{ comment.id }})" style="float: right" class="btn btn-light"><i class="fas fa-trash"></i></button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="comment-model" class="model">
        <form id="comment-form" class="model-content" action="{% url 'comment' %}" method="post">
            {% csrf_token %}
            <div class="container">
                <label for="content"><b>Comment</b></label>
                <input style="width: 100%" maxlength="500" type="text" placeholder="comment" name="content" required>
                <input type="hidden" value="{{ deal.id }}" name="deal_id">

                <button type="button" onclick="send_comment()">Post</button>
            </div>

            <div class="container">
                <button type="button" class="cancelbtn" style="background-color:#ff3a3a; width:100%" onclick="close_comment()">Cancel</button>
            </div>
        </form>
    </div>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5aaff649b965af90"></script>
    <script>
        function deleteComment(id) {
            if (confirm("Are you sure you wish to delete this comment?")){
                $.ajax({
                    url: "{% url 'comment_id' 1 %}".replace('1', id),
                    method: 'DELETE'
                }).done(function () {
                    location.reload(true)
                }).fail(function (response) {
                    alert(response.responseText)
                })
            }
        }

        function send_comment() {
            $.ajax({
                url: {% url 'comment' %},
                method: 'POST',
                data: $('#comment-form').serialize()
            }).done(function () {
                location.reload(true);
            }).fail(function (request) {
                alert(request.responseText)
            })
        }

        function send_vote (deal, upvote) {
            $.ajax({
                url: {% url 'vote' %},
                method: 'POST',
                data: JSON.stringify({'deal_id': deal, 'upvote': upvote}),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }).done(function () {
                $.ajax({
                    url: {% url 'vote' %},
                    method: 'GET',
                    data: {'deal_id': deal}
                }).done(function (response) {
                    $('#upvote_count').html(response['upvotes']);
                    $('#downvote_count').html(response['downvotes']);
                })
            }).fail(function (response, status, error) {
                alert(error + "\n" + response.responseText)
            })
        }

        function open_comment() {
            var model = document.getElementById("comment-model");
            model.style.zIndex = "1";
            model.style.opacity = "1";
        }

        function close_comment() {
            var model = document.getElementById("comment-model");
            model.style.zIndex = "-999";
            model.style.opacity = "0";
        }
    </script>
{% endblock %}